/*
Kolorki:
- #43b2e7 - niebieski na .btn-blue
- #3296c5 - niebieski na .btn-blue:hover

*/

body{
    font-family: 'Open Sans', sans-serif;
}

.navbar .navbar-brand{
    font-family: 'Shadows Into Light Two', cursive;
    color: #68b5da;
    font-weight: bold;
    font-size: 1.7em;
    padding: 17px;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus{
   color: #3296c5
}

.nawigacja.navbar .navbar-nav>.active>a{
    background-color: #43b2e7;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 700;
    border-radius: 35px;
}

@media (max-width: 767px){
    .nawigacja.navbar .navbar-nav>.active>a{
        border-radius: 0;
    }
}

.navbar.navbar-default .navbar-nav>li>a{
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #43b2e7;
}
nav.navbar {
    margin: 0;
    padding: 5px 0;
    background-color: #ffffff;
}

#hero{
    height: 75vh;
    background: url(../img/background.jpg) center fixed;
    background-size: cover;
}
.hero-h1{
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 3em;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 1px 1px 3px #4aa4d0;
    font-weight: bold;
    margin: 20px;
}

.hero-text{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.bar{
    background: #f1efef;
    min-height: 25vh;
    box-shadow: 0px 1px 10px #00000063;
}

.bar img{
    max-width: 120px;
    margin: 50px auto;
}

#experience{
    background: url(../img/background2.jpg) no-repeat left fixed;
    background-size: cover;
    box-shadow: inset 0px 1px 10px #00000063;
}
.experience-content{
    margin: 10rem 0;
    padding: 30px;
    background: #0e568a3d;
    border-radius: 60px;
}
.experience-content h2{
    margin-bottom: 30px;
}
#experience table th, #experience table td{
    padding: 10px 20px;
    min-width: 12rem;
    border-color: #0e568a63;
}
@media(max-width: 480px){
    #experience table th, #experience table td{
        padding: 10px 3px;
        min-width: 5rem;
    }
    .experience-content{
        padding: 10px;
    }

}

#experience table{
    border: 0;
}

#experience .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #0e568a3d;
}

#about{
    background: #fdfdfd;
    padding-bottom: 10rem;
}

#about h2{
    text-align: center;
    margin: 10rem 0 3rem;
}

.about{
    margin: 10rem 0 0;
    padding: 30px;
    background: #0e568a3d;
    border-radius: 60px;
}

.footer {
    color: #ccc9c9;
    background: #151517;
}
.footer-content{
    background: linear-gradient(#2b2b2b, #151517);
    padding-top: 5px;
}
.footer-list{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
}
.footer-list li{
    display: inline-block;
    margin-right: 2rem;
}
.footer a{
    color: #ccc9c9;
}
.footer h3, .footer h4, .footer h5 {
    display: inline-block;
    font-size: 1.2em;
    margin: 10px;
}
.footer-copyright p{
    padding: 5px 20px;
    margin: 0;
    font-size: 0.9em;
}


.btn-blue{
    background: #43b2e7;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    margin: 4px 20px;
}

.btn-blue:hover, .btn-blue:focus {
    background: #3296c5;
    color: #fff;
}

.modal-header{
    background: #43b2e7;
    color: #fff;
    font-weight: bold;
}


